body
{
    font-family: 'Lemonada', cursive;
    background-color: #dd7230;
}

body.dark
{
    font-family: 'Lemonada', cursive;
    background-color: #444;
    color: white;
}

nav
{
    background-color: #f4c95d;
}

nav.dark
{
    background-color: #888;
}


.darkmode {
	background-color:#3c5242;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:3px 15px;
	text-decoration:none;
    text-shadow:-1px 0px 50px #2f6627;  
}
.darkmode:hover {
	background-color:#394732;
}
.darkmode:active {
	position:relative;
	top:1px;
}

.body1
{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px black;
}

.content
{
    width: 85%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.left
{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.left h1
{
    font-size: 55px;
}

.btn1
{
    background-color:#bdd747;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:22px;
	padding:13px 26px;
	text-decoration:none;
}

.btn1:hover {
	background-color:#bdde16;
}
.btn1:active {
	position:relative;
	top:1px;
}

.right
{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
}

.right img
{
    width: 500px;
    height: auto;
}

/*FOOTER*/
footer
{
	width: 100%;
	height: 200px;
	background-color: #111;
	text-align: center;
	color: #666;
	padding-top: 20px;
}

.fa 
{
	padding: 15px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 0 10px;
	border-radius: 50%;
}
  
.fa:hover 
{
	opacity: 0.7;
}

.fa-facebook
{
	background: #666;
	color: #111;
}
  
.fa-twitter
{
	background: #666;
	color: #111;
}
  
.fa-youtube 
{
	background: #666;
	color: #111;
}
  
.fa-instagram 
{
	background: #666;
	color: #111;
}

@media only screen and (max-width:1150px)
{
    .right img
    {
        width: 390px;
        height: auto;
    }
}

@media only screen and (max-width: 850px) {

    .body1
    {
        width: 100%;
        height: auto;
    }
    .content
    {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .left
    {
        width: 100%;
        height: auto;
        padding: 50px 15px;
    }
    
    .right
    {
        width: 100%;
        height: auto;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
    }

    .right img
    {
        width: 75%;
        height: auto;
    }

    footer
	{
		width: 100%;
		height: auto;
		padding-bottom: 5px;
    }
}