body
{
    font-family: 'Lemonada', cursive;
    background-color: #dd7230;
}

body.dark
{
    font-family: 'Lemonada', cursive;
    background-color: #444;
    color: white;
}

nav
{
    background-color: #f4c95d;
}

nav.dark
{
    background-color: #888;
}


.darkmode {
	background-color:#3c5242;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:3px 15px;
	text-decoration:none;
    text-shadow:-1px 0px 50px #2f6627;  
}
.darkmode:hover {
	background-color:#394732;
}
.darkmode:active {
	position:relative;
	top:1px;
}

.body1
{
    width: 100%;
    height: 660px;
    text-align: center;
	display: flex;
	flex-direction: column;
}

.title
{
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

.table
{
	display: flex;
	width: 100%;
	height: 560px;
	justify-content: center;
}

.table.dark
{
	color: white;
}

.body2
{
	display: flex;
	width: 100%;
	height: 800px;
	justify-content: center;
	margin-bottom: 100px;
}

.form
{
	display: flex;
	width: 750px;
	height: 800px;
	background-color: #854D27;
	color: white;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.form.dark
{
	background-color: #333;
}

.form input
{
	width: 50%;
}

.display
{
	width: 750px;
	height: 800px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #5c371e;
	color: #999;
	justify-content: center;
}

.display.dark
{
	background-color: #222;
}


/*FOOTER*/
footer
{
	width: 100%;
	height: 200px;
	background-color: #111;
	text-align: center;
	color: #666;
	padding-top: 20px;
}

.fa 
{
	padding: 15px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 0 10px;
	border-radius: 50%;
}
  
.fa:hover 
{
	opacity: 0.7;
}

.fa-facebook
{
	background: #666;
	color: #111;
}
  
.fa-twitter
{
	background: #666;
	color: #111;
}
  
.fa-youtube 
{
	background: #666;
	color: #111;
}
  
.fa-instagram 
{
	background: #666;
	color: #111;
}

@media only screen and (max-width: 1300px){
	
	table
	{
		width: 80%;
		height: auto;
	}
}

@media only screen and (max-width: 800px) {

    footer
	{
		width: 100%;
		height: auto;
		padding-bottom: 5px;
	}
	
	.body2
	{
		flex-direction: column;
		height: auto;
	}

	.form
	{
		width: 100%;
		height: auto;
		padding: 100px 0;
	}

	.display
	{
		width: 100%;
		height: auto;
		padding-bottom: 100px;
	}
}